<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <File name="ALL_LOGS" fileName="logs/SPP.log" append="true">
            <PatternLayout
                    pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%t] %C{2} (%F:%L) - %m%n" />
        </File>

        <File name="CORE_LOGS" fileName="logs/spp-core.log" append="true">
            <PatternLayout
                    pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%t] %C{2} (%F:%L) - %m%n" />
        </File>
        
        <File name="DOC_LOGS" fileName="logs/spp-doc.log" append="true">
            <PatternLayout
                    pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%t] %C{2} (%F:%L) - %m%n" />
        </File>
        
        <File name="DOCX_LOGS" fileName="logs/spp-docx.log" append="true">
        	<PatternLayout
                    pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%t] %C{2} (%F:%L) - %m%n" />
        </File>

        <File name="LATEX_LOGS" fileName="logs/spp-latex.log" append="true">
            <PatternLayout
                    pattern="%-5p | %d{yyyy-MM-dd HH:mm:ss} | [%t] %C{2} (%F:%L) - %m%n" />
        </File>
    </Appenders>

    <Loggers>
        <Logger name="hu.uni.miskolc.iit.spp.core" level="all">
            <AppenderRef ref="ALL_LOGS"/>
            <AppenderRef ref="CORE_LOGS"/>
        </Logger>
        
        <Logger name="hu.uni.miskolc.iit.spp.doc" level="all">
            <AppenderRef ref="ALL_LOGS"/>
            <AppenderRef ref="DOC_LOGS"/>
        </Logger>
        
		<Logger name="hu.uni.miskolc.iit.spp.docx" level="all">
            <AppenderRef ref="ALL_LOGS"/>
            <AppenderRef ref="DOCX_LOGS"/>
        </Logger>
        
        <Logger name="hu.uni.miskolc.iit.spp.latex" level="all">
            <AppenderRef ref="ALL_LOGS"/>
            <AppenderRef ref="LATEX_LOGS"/>
        </Logger>
    </Loggers>
</Configuration>